<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958378649272-0gpp2n3jqhldqt7d0rfhc9v0tmrgrp4s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958378649272-0gpp2n3jqhldqt7d0rfhc9v0tmrgrp4s</string>
	<key>API_KEY</key>
	<string>AIzaSyAjVmMQxHe5gz7mc1Y0AO9ZkwhZVp7c6c4</string>
	<key>GCM_SENDER_ID</key>
	<string>958378649272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chandru.lmgtask</string>
	<key>PROJECT_ID</key>
	<string>lmgtask</string>
	<key>STORAGE_BUCKET</key>
	<string>lmgtask.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958378649272:ios:2b09285f1762198c21f64d</string>
</dict>
</plist>